UnitTestProject1/bin/Debug/MSTest.exe.config
UnitTestProject1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTestProject1/bin/Debug/rezultat.html
UnitTestProject1/obj/Debug/UnitTestProject1.csproj.FileListAbsolute.txt
UnitTestProject1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTestProject1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTestProject1/bin/Debug/_test_start.bat
UnitTestProject1/bin/Debug/TestResults/Sebastian_OLEW-LAP 2016-06-03 10_10_15/Out/rezultat.html
UnitTestProject1/bin/Debug/WebDriver.xml